In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# IF Statements
### If and user-defined
### ELIF (Else if) to follow (saying do 1, otherwise do the following)
### else:  says, here is the last thing to do, then you are finished.

In [3]:
##Setting path
##Importing script orders_products_merged.pkl
## .pkl do NOT NEED import = True

In [5]:
path = r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises'
df_orders_prods_merged = pd.read_csv(r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises/02 Data/Prepared Data/orders_products_merged.pkl')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [6]:
path = r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises'
df_orders_prods_merged = pd.read_pkl(r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises/02 Data/Prepared Data/orders_products_merged.pkl')

AttributeError: module 'pandas' has no attribute 'read_pkl'

In [7]:
path = r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises'
df_orders_prods_merged = pd.read_pickle(r'/Users/ECC/Career Foundry/Anaconda Python CF Exercises/02 Data/Prepared Data/orders_products_merged.pkl')

In [8]:
df_orders_prods_merged.head ()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [9]:
## Importing pickle pd.read.pickle. Use full pickle, not .pkl
## index = True not needed with .pkl

# Renaming df for clarity
### df = df_orders_products_merged

In [11]:
df = df_orders_prods_merged

In [12]:
df.head ()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [15]:
df = df [:1000000]

In [17]:
df.describe ()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,1.000000e+06,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,939915.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.690835e+06,1.710240e+06,101788.547547,18.731714,2.686741,13.272235,10.646367,27119.966748,6.078493,0.769933,27121.711388,44.407396,8.740095,7.819497
std,9.789667e+05,9.873682e+05,59011.894306,18.563841,2.053382,4.218017,8.467237,15578.819637,5.695749,0.420876,15580.659854,28.925073,6.419989,3.641458
min,0.000000e+00,5.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,196.000000,1.000000,0.000000,195.000000,21.000000,4.000000,1.000000
25%,8.429560e+05,8.555392e+05,50641.000000,5.000000,1.000000,10.000000,5.000000,13176.000000,2.000000,1.000000,13176.000000,24.000000,4.000000,6.300000
50%,1.685566e+06,1.709734e+06,101164.000000,12.000000,2.000000,13.000000,7.000000,26088.000000,4.000000,1.000000,26089.000000,24.000000,4.000000,9.000000
75%,2.527854e+06,2.565079e+06,152132.000000,27.000000,5.000000,16.000000,14.000000,47766.000000,8.000000,1.000000,47770.000000,67.000000,16.000000,10.300000
max,3.421076e+06,3.421068e+06,206209.000000,99.000000,6.000000,23.000000,30.000000,49235.000000,99.000000,1.000000,49239.000000,121.000000,20.000000,14.800000

In [18]:
## Using block of code from example below. 

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
##Sets low prices to 5 or less
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
##Sets mid prices from 5 to 15
  elif row['prices'] > 15:
    return 'High range'
##Sets high to over 15
  else: return 'Not enough data'
##Returns 'Not Enough Data' text when above does not match to any

## Testing above code

In [19]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/q5/s7f717nj30jblv023rddwlkm0000gn/T/ipykernel_38367/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [20]:
df.shape

(1000000, 18)

### Defining and applying the above block to our df

In [21]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [22]:
df['prices'].max()

14.8

# If-Statements with the loc() Function
### Conditions

In [25]:
## Copied from exercise

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

/var/folders/q5/s7f717nj30jblv023rddwlkm0000gn/T/ipykernel_38367/3099113052.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [27]:
## error shows (loc) function would be useful, as in line 19
## Ex also tells us to enter each line by line

In [28]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
## The loc() function is being called on the df dataframe; Values = “if ‘prices’ column of the df dataframe are greater than 15.”
##After the comma comes the implied “then.” Here, “price_range_loc” is being set equal to the string “High-range product.”

In [29]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
## If less than 15 & greater than 5 = Mid-range

In [32]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'
## If 5 or less = Low range

In [33]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [35]:
df.describe ()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,1.000000e+06,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,939915.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.690835e+06,1.710240e+06,101788.547547,18.731714,2.686741,13.272235,10.646367,27119.966748,6.078493,0.769933,27121.711388,44.407396,8.740095,7.819497
std,9.789667e+05,9.873682e+05,59011.894306,18.563841,2.053382,4.218017,8.467237,15578.819637,5.695749,0.420876,15580.659854,28.925073,6.419989,3.641458
min,0.000000e+00,5.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,196.000000,1.000000,0.000000,195.000000,21.000000,4.000000,1.000000
25%,8.429560e+05,8.555392e+05,50641.000000,5.000000,1.000000,10.000000,5.000000,13176.000000,2.000000,1.000000,13176.000000,24.000000,4.000000,6.300000
50%,1.685566e+06,1.709734e+06,101164.000000,12.000000,2.000000,13.000000,7.000000,26088.000000,4.000000,1.000000,26089.000000,24.000000,4.000000,9.000000
75%,2.527854e+06,2.565079e+06,152132.000000,27.000000,5.000000,16.000000,14.000000,47766.000000,8.000000,1.000000,47770.000000,67.000000,16.000000,10.300000
max,3.421076e+06,3.421068e+06,206209.000000,99.000000,6.000000,23.000000,30.000000,49235.000000,99.000000,1.000000,49239.000000,121.000000,20.000000,14.800000

In [37]:
df.shape

(1000000, 19)

In [39]:
df_orders_prods_merged.shape

(32404859, 17)

In [42]:
## I renamed it, so going back to the whole list is now ridiculously long name
## REMEMBER: df_orders_prods_merged.loc[df_orders_prods_merged[prices...]]
## NAMES MUST MATCH

In [41]:
df_orders_prods_merged.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

TypeError: unhashable type: 'Series'

In [43]:
df_orders_prods_merged.loc[df_orders_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [45]:
df_orders_prods_merged.loc[(df_orders_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [47]:
df_orders_prods_merged.loc[df_orders_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [48]:
df_orders_prods_merged['price_range_loc'].value_counts(dropna = False)

NaN                   21104410
Low-range product     10126321
Mid-range product       756450
High-range product      417678
Name: price_range_loc, dtype: int64

In [50]:
## NaN values still returned.
## Not sure why.
## These should have been removed or filtered out.
## AH! New customers; the NaN values should be for 'previous order' from earler assignments

# If-Statements with For-Loops
#### Using ( number, number) will loop through each number listed individually until they have all been processed.
####

In [51]:
for x in range (35, 50):
    print("My age is %d" %(x))

My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44
My age is 45
My age is 46
My age is 47
My age is 48
My age is 49

In [52]:
## The last number is where the funciton stops. If you want 50 included, the second number MUST be 51

In [53]:
df_orders_prods_merged['orders_day_of_the_week'].value_counts(dropna = "False")

KeyError: 'orders_day_of_the_week'

In [55]:
## NAMING ! ! !

df_orders_prods_merged['orders_day_of_week'].value_counts(dropna = "False")

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [56]:
## 0 is Saturday, 4 is Wednesday

In [60]:
## Copied from exercise

result = []

for value in df_orders_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [61]:
result

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Least busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 ...]

In [62]:
## Combining results in df

In [63]:
df_orders_prods_merged['Busiest day'] = result

In [64]:
df_orders_prods_merged['Busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest day, dtype: int64

In [65]:
## Regularly busy should show an AVERAGE of those days, 
## not the SUM of all days.
## This can be misleading for the client.

In [66]:
df_orders_prods_merged.shape

(32404859, 19)

In [68]:
df_orders_prods_merged.head ()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy

# Achievement / Task below

In [95]:
result = []

for value in df_orders_prods_merged["orders_day_of_week"]:

  if value == [0, 1]:
    result.append("Busiest days")
  elif value == [3, 4]:
    result.append("Slowest days")
  else:
    result.append("Regularly busy")
    
## Using the same elif as in 18, where if day 0, 1 are Busiest 
##and 3,4 are Slowest, then rest are Regular

In [85]:
df_orders_prods_merged.shape

(32404859, 19)

In [91]:
df_orders_prods_merged.describe ()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.709858e+06,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,2.560037e+04,7.119612e+01,9.919792e+00,1.198023e+01
std,9.864575e+05,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,1.408555e+04,3.821139e+01,6.281485e+00,4.956554e+02
min,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.556370e+05,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.709176e+06,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,2.530300e+04,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565919e+06,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,3.795100e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04

In [87]:
df_orders_prods_merged['Busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest day, dtype: int64

In [92]:
df_orders_prods_merged.head ()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy

In [96]:
## No difference to earlier. Days did not combime into Busiest or Slowest days
##  NAMES NAMES NAMES ! ! !

df_orders_prods_merged['Busiest days'].value_counts(dropna = False)

KeyError: 'Busiest days'

In [99]:
result2 = []

for value in df_orders_prods_merged["orders_day_of_week"]:

  if value == [0 or 1]:
    result2.append("Busiest days")
  elif value == [3 or 4]:
    result2.append("Slowest days")
  else:
    result2.append("Regularly busy")

In [104]:
df_orders_prods_merged['Busiest_days'] = result2

In [105]:
df_orders_prods_merged.head ()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day,busiest_days,Busiest_days
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy

In [107]:
df_orders_prods_merged['Busiest_days'].value_counts(dropna = False)

Regularly busy    32404859
Name: Busiest_days, dtype: int64

In [108]:
df_orders_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    32404859
Name: busiest_days, dtype: int64

In [110]:
df_orders_prods_merged.describe ()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.709858e+06,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,2.560037e+04,7.119612e+01,9.919792e+00,1.198023e+01
std,9.864575e+05,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,1.408555e+04,3.821139e+01,6.281485e+00,4.956554e+02
min,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.556370e+05,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.709176e+06,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,2.530300e+04,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565919e+06,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,3.795100e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04

In [114]:
## After reviewing other submissions and the OR variable: 

for value in df_orders_prods_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [115]:
df_orders_prods_merged.describe ()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.709858e+06,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,2.560037e+04,7.119612e+01,9.919792e+00,1.198023e+01
std,9.864575e+05,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,1.408555e+04,3.821139e+01,6.281485e+00,4.956554e+02
min,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.556370e+05,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.709176e+06,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,2.530300e+04,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565919e+06,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,3.795100e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04

In [117]:
df_orders_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    32404859
Name: busiest_days, dtype: int64

In [119]:
df_orders_prods_merged.head (25)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,Busiest day,busiest_days,Busiest_days
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
6,6,550135,1,prior,7,1,9,20.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
10,144,2968173,15,prior,15,1,9,7.0,196,2,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
11,146,1870022,15,prior,17,2,16,8.0,196,6,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
12,147,1911383,15,prior,18,2,11,7.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
13,150,2715276,15,prior,21,1,9,7.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
14,151,487368,15,prior,22,1,10,14.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
15,209,2293453,19,prior,2,5,14,6.0,196,3,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
16,212,1973799,19,prior,5,6,12,8.0,196,15,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
17,214,532817,19,prior,7,4,17,6.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
18,232,1573906,21,prior,10,3,10,6.0,196,2,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
19,458,1593000,31,prior,10,3,8,7.0,196,17,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
20,465,2231262,31,prior,17,3,11,8.0,196,14,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
21,617,2580647,43,prior,6,4,16,4.0,196,9,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
22,620,2187180,43,prior,9,4,12,3.0,196,1,...,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Regularly busy
23,751,2497897,52,prior,1,1,9,NaN,196,4,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy
24,752,1318871,52,prior,2,1,10,7.0,196,5,...,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Regularly busy